<div style="justify-content: center;">
    <table style="align-self: center;">
        <tr>
            <th> Id </th>
            <th > Description</th>
        </tr>
        {% for id, descriptor in pics %}
        <tr style="text-align: center;">
            <td>{{ id }} </td>
            <td>{{ descriptor }} </td>
        </tr>
        {% endfor %}
    </table>
    </br>

    <div id="add-form">
        <form action="/add_pic" method="post" id="addpic">
            Descriptor: <input type="text" name="D"><br>
                        </form>

        <button type="submit" form="addpic" value="Submit" style="margin-bottom: 20px;">Add</button>
    </div>


 	<div id="delete-form">
        <form action="/delete_pic" method="post" id="deletepic">
            Pic Id: <input type="number" name="ID"><br>
                    </form>

        <button type="submit" form="deletepic" value="Submit" style="margin-bottom: 20px;">Delete</button>
    </div>

	<div id="update-form">
        <form action="/update_pic" method="post" id="updatepic">
             Id: <input type="number" name="ID_update"><br>
             New Descriptor: <input type="text" name="Desc"><br>
                        </form>

        <button type="submit" form="updatepic" value="Submit" style="margin-bottom: 20px;">update</button>
    </div>

 <button onclick="location.href = '{{ url_for('profile_page') }}'" style="margin-bottom: 30px;">Back to Profile</button>

