
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='theme.min.css')}}" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="panel widget" >
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title" align="center"> <span class="menu-icon">  </span> Basic Picture Table  </h3>
                  </div>
                  <div class="panel-body table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>

                          <th>Description</th>
<!--                           <th>Date registered</th> -->
						  <th class="tabledit-toolbox-column"></th>
                        </tr>
                      </thead>
                      {% for id, descriptor in pics %}
                      <tbody>
                        <tr>
<!--                           <td>{{id}}</td> -->
                          <td>{{descriptor}}</td>
							<form method="POST" role="form">
	                			<input type = "hidden" name = "id" value={{ id }}>
	                			<td class="text-center"><button href="{{ url_for('add_pic') }}" type="submit" name="Delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
	               				<td>
	               					<div class="col-xs-4">
	               						<input  type = "text" name = "newname" >
	               					</div>
	               					<button href="{{ url_for('add_pic') }}" type="submit" name="Update" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>

	           				 </form>
                          </tr>
                        <tr>
                         {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>


				<div class="row">
						<div class="col-md-2" id="add-form"></div>
						<div class="col-md-2" id="add-form">
                          <form action="/add_pic" method="post" id="addpic">Addition
                          	<div class="controls">
                           	 <input type="text" placeholder="Description" name="ADD">
                        	  </div>
                          </form>
							 <button type="submit" form="addpic" value="Submit" style="margin-bottom: 20px;">Add</button>
                        </div>

						<div class="col-md-2" id="add-form">
							<button onclick="location.href = '{{ url_for('profile_page') }}'" style="margin-bottom: 30px;">Back to Profile</button>
						</div>
				</div>




