<div style="justify-content: center;">
    <table style="align-self: center;">
      <tr>
        <th> ID </th>
        <th > Following ID</th>
        <th > Post ID</th>
      </tr>
      {% for id, fid, postid in posts %}
      <tr style="text-align: center;">
        <td>{{ id }} </td>
        <td>{{ fid }} </td>
        <td>{{ postid }} </td>
      </tr>
      {% endfor %}
    </table>
    </br>

    <div id="add-form">
      <form action="/add_post" method="post" id="addpost">
        Id: <input type="text" name="id"><br>
        Following Id: <input type="text" name="fid"><br>
        Post Id: <input type="text" name="postid"><br>
      </form>

      <button type="submit" form="addpost" value="Submit" onsubmit="location.href = '{{ url_for('home_page') }}'" style="margin-bottom: 30px;">Add</button>
    </div>

    <div id="delete-form">
      <form action="/delete_post" method="post" id="deletepost">
        Following Id: <input type="text" name="fid"><br>
        Post Id: <input type="text" name="postid"><br>
      </form>

      <button type="submit" form="deletepost" value="Submit" style="margin-bottom: 30px;">Delete</button>
    </div>

    <div id="update-form">
      <form action="/update_post" method="post" id="updatepost">
        Id: <input type="text" name="id"><br>
        Following Id: <input type="text" name="fid"><br>
        New Post Id: <input type="text" name="new_postid"><br>
      </form>

      <button type="submit" form="updatepost" value="Submit" style="margin-bottom: 30px;">update</button>
    </div>

    <button onclick="location.href = '{{ url_for('home_page') }}'" style="margin-bottom: 30px;">Back to Home</button>

