{% extends "layout.html" %}
{% block content %}


<div class="row" style="margin-top:50px">
    <form method="post">
    <div class="col-lg-3">
      <h3>Hashtags</h3>
      <table class="table table-bordered">
      {% for id ,hashname in hashs %}
            <tr>
                <td><button class="btn btn-success" name="search" value="{{id}}"><i class="fa fa-search"></i></button> {{hashname}}</td>
            </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-lg-9">
        <div class="row">
        {% for id ,link ,hashname in most_use_hash %}
        <div class="col-lg-3">
            <div class="thumbnail">
                  <img src="{{link}}" alt="...">
                  <div class="caption">
                    <h3>#{{hashname}}</h3>
                    <p></p>
                  </div>
            </div>
        </div>
        {%endfor%}
        </div>
        {% if search_post %}
        <div class="row">
            <h3>Result</h3>
            {% for  id ,link ,hashname in search_post %}
            <div class="col-lg-3">
                <div class="thumbnail">
                      <img src="{{link}}" alt="...">
                      <div class="caption">
                        <h3>#{{hashname}}</h3>
                        <p></p>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {%elif search_post==[] %}
            <span class="text-danger">No Post for hashtag</span>
        {% endif %}
    </div>
    </form>


{% endblock %}
