<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
    <h1> Hello, Dinçer was here!</h1>
    <p> We are a team!! </p>
    <h1> denizfa is ready!</h1>
    <p> We are a team!! </p>
    <h1> Ali Ercan was here </h1>
    <p> We are a big family! </p>
    <h1> Ahmet Caglar Bayatli </h1>
    <p> I'm changing this file for commit </p>
  </body>
</html>
