{% extends "layout.html" %}
{% block content %}
<div class="area" style="width: 40%; position: absolute; left:30%; padding-top: 20px;">
{% for id, fid, postid in posts %}
	{% if loop.first %}
	<div style="width: 30%; position: fixed; left:20px; top: 80px;" onclick="findPic(2)">
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="{{ url_for('profile_page')}}">
		      <img class="media-object img-circle" id="profilePic" src="static/photos/samplepic2.png" alt="profilepic" style="width: 150px; height: 150px;">
		    </a>
		  </div>
		  <div class="media-body" style="padding-left: 30px;">
		    <h4 class="media-heading">User {{id}}</h4>
		    @username
		  </div>
		</div>
	</div>
	<button  onclick="location.href = '{{ url_for('add_post') }}'" class="float-left submit-button" style="position: fixed; right: 120px; top: 80px;">Edit Reviewing Posts</button>
	{% endif %}
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <div class="media">
				  <div class="media-left media-middle">
				    <a href="{{ url_for('profile_page')}}">
				      <!-- <img class="media-object img-circle" src="static/photos/samplepic5.png" alt="profilepic" style="width: 50px; height: 50px;"> -->
				      <i class="glyphicon glyphicon-user"></i>
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">User {{ fid }}</h4>
				    @user{{ fid }}
				  </div>
				</div>
		  </div>
		  <div class="panel-body">
		    <div class="media">
			  <div class="media-left media-top">
			      <!-- <img class="media-object" src="static/photos/samplepic1.png" alt="sample1" style=" margin-left: 100px; width: 300px; height: 300px;" /> -->
			      <i class="glyphicon glyphicon-picture" style="margin-left: 250px;"></i>
			  </div>
			  <div style="position: relative; top: 0; margin-left: 100px;">
			    <h4 class="media-heading">Post {{ postid }}</h4>
			    Media Comments
			  </div>
			</div>
		  </div>
		  <div class="panel-footer">
		  	<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default">like</button>
				  <button type="button" class="btn btn-default">comment</button>
				</div>
		  </div>
		</div>
		{% endfor %}
  </div>
{% endblock %}