{% extends "layout.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
<div class="area" style="width: 45%; position: absolute; left:30%; padding-top: 20px;">
{% if user %}
		<div style="width: 25%; position: fixed; left:70px; top: 80px;">
			<div class="media">
			  <div class="media-left media-middle">
			    <a href="/profile">
			      <img class="media-object img-circle" id="profilePic" src={{ user_data[3] }} alt="profilepic" style="width: 150px; height: 150px;">
			    </a>
			  </div>
			  <div class="media-body" style="padding-left: 30px; padding-top: 30px;">
			    <h4 class="media-heading">{{user_data[1]}} {{user_data[2]}}</h4>
			    @{{user_data[0]}}
			  </div>
			</div>
			<br/>
			{% if session['admin'] %}
			<div class="panel"><div class="panel-heading"><a class="btn btn-primary" href="/admin">Go to Admin Page</a></div></div>
			{% endif %}
			<br/>
			<form method="post">
			<div id = interest_panel class="panel panel-default" style="border: solid; border-width: 2px; border-color: #eee; border-radius: 5px;">
				<div class="panel-heading">
					<h4 class="text text-center font-bold">Interests</h4>
				</div>
				<div class="panel-body">
					{% if user_interests %}
						{% for id, interest in user_interests %}
							<span id="interest{{ id }}" title=" {{ interest }}" class="label label-info "> {{ interest }}
								<button class="btn btn-xs " type="button" onclick="updateInterest('{{ id }}')"><i class="fa fa-edit"></i></button>
								<button class="btn btn-xs " name="deleteInterest" value="{{ id }}"><i class="fa  fa-close"></i></button>
							</span>&nbsp;
						{% endfor %}
					{% else %}
						<p class="text-danger"> There is no interest</p>
					{% endif %}
				</div>
				<div  class="panel-footer">
					<input class="form-control input-border" id="new_interest" name="interestName" placeholder="Tap to add"/><br/>
					<button name="newInterest" value="1" class="btn btn-success form-control"><i class="fa fa-save"></i> Save Interest</button>
				</div>
			</div>
			</form>
		</div>
	{% if posts %}
	{% for userid, username, name, surname, linkpro, postid, linkpost, date, desc in posts %}
		{% if date < lastseen %}
			<div style="margin-bottom: 35px; margin-top: 25px; margin-left: 30px; position: relative; top: 15px; background-color: #fafafa; border: solid; border-width: 2px; border-color: #eee; border-radius: 10px; width: 575px;"><div style="text-align: center;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Seen</div>
		{% else %}
	    <div style="margin-bottom: 35px; margin-top: 25px; margin-left: 30px; position: relative; top: 15px; background-color: #fff; border: solid; border-width: 2px; border-color: #eee; border-radius: 10px; width: 575px;">
	    {% endif %}
			  <div class="panel-heading">
			    <div class="media">
					  <div class="media-left media-middle">
					    <a href="/{{username}}/profile">
					      <img class="media-object img-circle" src={{linkpro}} alt="profilepic" style="width: 60px; height: 60px;">
					    </a>
					  </div>
					  <div class="media-body" style="padding-top: 10px;">
					    <h4 class="media-heading">{{name}} {{surname}}</h4>
					    @{{ username }}
					  </div>
				</div>
			  </div>
			  <div style="position: relative; left: 500px; bottom: 60px;">
			  {% if username!=user %}

			  	<div class="dropdown" style="display: inline; margin-left: 25px;">	
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: none; background-color: transparent;">
					  <span class="glyphicon glyphicon-remove"></span>
					</button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><form method="POST" role="form" style="display: inline;">
                			<input type="hidden" name="postid" value={{ postid }}>
                			<input type="hidden" name="userid" value={{userid}}>
                			<input type="hidden" name="username" value={{user}}>
                			<button href="{{ url_for('home_page')}}" type="submit" name="hidepost" style="background: transparent; border: none; display: inline; margin-left: 20px; margin-top: 5px;">Hide Post</span></button>
               			</form>
               		</li>
				    <li role="separator" class="divider"></li>
				    <li><form method="POST" role="form" style="display: inline;">
                			<input type="hidden" name="userid" value={{userid}}>
                			<input type="hidden" name="username" value={{user}}>
                			<button href="{{ url_for('home_page')}}" type="submit" name="hideuser" style="background: transparent; border: none; display: inline; margin-left: 20px; margin-top: 5px; margin-bottom: 5px;">Hide User</span></button>
               			</form>
               		</li>
				  </ul>
				</div>
               	
				{% else %}
				<button data-toggle="modal" data-target="#Update{{postid}}" style="background: transparent; border: none; display: inline; background-color: transparent;"><span class="glyphicon glyphicon-edit"></span></button>
				<button data-toggle="modal" data-target="#Delete{{postid}}" style="background: transparent; border: none; display: inline; background-color: transparent;"><span class="glyphicon glyphicon-remove"></span></button>
			  	
               	<div class="container">
				  <!-- Modal -->
				  <div class="modal fade" id="Update{{postid}}" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Edit Post Description</h4>
				        </div>
				        <div class="modal-body">
				        	<form method="POST" role="form">
				        		<input type="hidden" name="post" value={{ postid }}>
			                	<input type="text" name="desc" value="{{ desc }}" style="width: 100%;">
			                	<input type="hidden" name="username" value={{user}}>
			                	<button type="button" class="btn btn-default" data-dismiss="modal" style="position: relative; top: 10px; left: 390px;">Close</button>
			                	<button class="btn btn-success" type="submit" name="upt" style="position: relative; top: 10px; left: 400px;">Submit Edit</button>
			                </form>
				        </div>
				        </div>
				      
				    </div>
				  </div>

				  <div class="modal fade" id="Delete{{postid}}" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Delete Post</h4>
				        </div>
				        <div class="modal-body">
				        	<p>Are you sure to delete post?</p>
				        	<form method="POST" role="form">
				        		<input type="hidden" name="post" value={{ postid }}>
			                	<input type="hidden" name="username" value={{user}}>
			                	<button type="button" class="btn btn-default" data-dismiss="modal" style="position: relative; top: 10px; left: 390px;">Close</button>
			                	<button class="btn btn-danger" type="submit" name="del" style="position: relative; top: 10px; left: 400px; color: white;">Delete Post</button>
			                </form>
				        </div>
				        </div>
				      
				    </div>
				  </div>
				  
				</div>
				{% endif %}
			  </div>
			  <div class="panel-body">
			    <div class="media">
				  <div class="media-left media-top">
				      <img class="media-object" src={{linkpost}} alt="sample1" style=" margin-left: 100px; width: 300px; height: 300px;" />
				  </div>
				  <div style="position: relative; top: 0; margin-left: 100px; margin-top: 20px;">
				    <h4 class="media-heading">{{desc}}</h4>
				    {{date}}
				  </div>
				</div>
			  </div>
			  <div class="panel-footer" style="background-color: #fff;">
				  <form method="post">
					  <input type="hidden" name="postId" value="{{postid}}">
					  <div  class="btn-group " role="group" aria-label="..." >
						  <button name="like" value="heart" class="btn btn-xs btn-danger"><i class="fa fa-heart"></i></button>
						  <button name="like" value="thumbs-up" class="btn btn-xs btn-success"><i class="fa fa-thumbs-up"></i></button>
						  <button name="like" value="thumbs-down" class="btn btn-xs btn-warning"><i class="fa fa-thumbs-down"></i></button>
						  <button name="like" value="frown-o" class="btn btn-xs btn-info"><i class="fa fa-frown-o"></i></button>
					  </div>
			  		<div id="post-foot{{ postid }}" class="btn-group pull-right" role="group" aria-label="..." >
					  <button type="button"  class="btn btn-default" onclick="LikeBar('{{ postid }}',this,'open')" value="{{ postid }}">Likes</button>
					  <button type="button" class="btn btn-default" onclick="CommentsBar('{{ postid }}',this,'open')">Show Comments</button>
					  <button type="button" class="btn btn-default" onclick="AddCommentBar('{{ postid }}',this,'open')">Add Comment</button>
					</div>
				  <br>
				  <div id="post-like{{ postid }}" >
					  {% if postsLikes[postid] %}
						  {% for id,username,like_type in postsLikes[postid] %}
							{% if username==user %}
								<div class="panel"><div class="panel-heading"><button title="unlike" name="unlike" value="{{ id }}" class="btn btn-xs btn-danger ">x</button></div>{{username}}<br/><i class="fa fa-{{like_type}}"></i></div>
							{% else %}
								<div class="panel hidden">{{username}}<br/><i class="fa fa-{{like_type}}"></i></div>
							{% endif %}
						  {% endfor %}
					  {% else %}
							<span>No likes</span>
					  {% endif %}
				  </div>
				  <div id="post-comment{{ postid }}" class="hidden" >
					  {% if postsComments[postid] %}
						  <table class="table table-bordered table-responsive table-condensed">
							  {% for id,username,comment in postsComments[postid] %}
							  <tr>
								  <td style="max-width: 20px">{{ username }} says:</td>
								  <td>{{ comment }}
								  {% if username==user %}
									  <button title="uncomment" name="uncomment" value="{{ id }}" class="btn btn-xs btn-danger pull-right">x</button>
								  {% endif %}
								  </td>
							  </tr>
							  {% endfor %}
						  </table>
					  {% else %}
							<span class="text-center text-danger">No Comments</span>
					  {% endif %}
				  </div>
			  	  </form>
			  </div>
		</div>
	{% endfor %}
	{% else %}
		<p style="position: relative; top: 300px; text-align: center;">No post to view yet.</p>
	{% endif %}
</div>
<div style="width: 25%; position: fixed; right:30px; top: 80px; height: 500px; overflow: auto; padding-left: 20px;">
	<ul class="list-group">
	<li class="list-group-item">
		<h4>Suggestions for you</h4>
	</li>
	{% for userid, username, name, surname, linkpro in suggests %}
	<li class="list-group-item">
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="/{{username}}/profile">
		      <img class="media-object img-circle" id={{userid}} src={{linkpro}} alt="profilepic" style="width: 50px; height: 50px;">
		    </a>
		  </div>
		  <div class="media-body" style="padding-left: 10px; padding-top: 10px; width: 70%;">
		    <h4 class="media-heading">{{name}} {{surname}}</h4>
		    <p>@{{username}}</p>
		  </div>
		  <div class="media-right media-middle" style="padding-left: 20px;">
			  <form method="POST" role="form" style="display: inline;">
	    		<input type="hidden" name="userid" value={{ userid }}>
	        	<input type="hidden" name="username" value={{user}}>
			  	<button class="btn btn-success" type="submit" name="follow" style="display: inline;">Follow</button>
			  </form>
		  </div>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>
		{% else %}
			<form method="POST" role="form">
		 		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 ">
			  		<select id="mySelect"  style="margin-top:40px;" name="ChooseUser">
			  			{% for id,username in allUsers %}
				 			<option  value={{username}} name="ChooseUser"  >@{{username}}
			  			{% endfor %}
			  		</select>
			  		<br><br>  

					<button  type="submit" name="ChooseUser" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-user"></span> SEC</button>
		 		</div>
			</form>
		{% endif %}
	  

	<script>

		function AddCommentBar(parent,button,type) {
			$('#temp').remove();
			button= $('#post-foot'+parent+' button:eq( 2 )');
			if(type=='open'){
				$('#post-foot'+parent).after('<div id="temp"><br/><br/><textarea name="comment" class="form-control" placeholder="Add a Comment"></textarea><br/><button class="center-block btn btn-success" type="submit" name="saveComment" value="1">Save Comment</button></div>');
				button.removeClass('btn-default');
				button.addClass('btn-primary');
				button.attr('onclick','AddCommentBar("'+parent+'",this,"close")');
			}
			else{
				button.removeClass('btn-primary');
				button.addClass('btn-default');
				button.attr('onclick','AddCommentBar("'+parent+'",this,"open")');
			}
		}
		function LikeBar(parent,button,type) {
			button= $('#post-foot'+parent+' button:eq( 0 )');
			if(type=='open'){
				$('#post-like'+parent+' .panel').removeClass('hidden');
				button.removeClass('btn-default');
				button.addClass('btn-success');
				button.attr('onclick','LikeBar("'+parent+'",this,"close")');
			}
			else{
				$('#post-like'+parent+' .panel').addClass('hidden');
				button.removeClass('btn-success');
				button.addClass('btn-default');
				button.attr('onclick','LikeBar("'+parent+'",this,"open")');
			}
		}
		function CommentsBar(parent,button,type) {
			button= $('#post-foot'+parent+' button:eq( 1 )');
			if(type=='open'){
				$('#post-comment'+parent).removeClass('hidden');
				button.removeClass('btn-default');
				button.addClass('btn-info');
				button.attr('onclick','CommentsBar("'+parent+'",this,"close")');
			}
			else{
				$('#post-comment'+parent).addClass('hidden');
				button.removeClass('btn-info');
				button.addClass('btn-default');
				button.attr('onclick','CommentsBar("'+parent+'",this,"open")');
			}
		}



		function updateInterest(parent) {
			var interestSpan = $('#interest'+parent);
			var interestName= interestSpan.attr('title');
			window.interest=interestSpan;
			interestSpan.after('<div id="tempInterest"><input name=updatedName value="'+interestName+'" />' +
					'<button class="btn btn-xs btn-success" name="updateInterest" value="'+parent+'"><i class="fa fa-check-circle"></i></button>' +
					'<button class="btn btn-xs btn-danger" type="button" onclick="unupdateInterest()"><i class="fa fa-close"></i></button></div>')

			interestSpan.remove();
		}

		function unupdateInterest() {
			temp=$('#tempInterest');
			temp.after(window.interest);
			temp.remove();
		}

	</script>

{% endblock %}
