{% extends "layout.html" %}
{% block content %}

<div>
    <h1>Recent Notifications</h1>
</div>
    <div class="alert alert-success" role="alert">@username1 likes your post<img class="media-object" src="static/photos/samplepic1.png" alt="sample1" align="right" style=" margin-left: 10px; width: 30px; height: 30px;"/>
    </div>
    <div class="alert alert-success" role="alert">@username1 comments on your post<img class="media-object" src="static/photos/samplepic1.png" alt="sample1" align="right" style=" margin-left: 10px; width: 30px; height: 30px;"/>
    </div>
    <div class="alert alert-success" role="alert">@username2 likes your post<img class="media-object" src="static/photos/samplepic1.png" alt="sample1" align="right" style=" margin-left: 10px; width: 30px; height: 30px;"/>
    </div>


{% endblock %}